* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-image: url(./images/generated-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  text-align: center;
}

.todolist-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-image: url("images/notebook.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 25%;
  border-radius: 5%;
  border: 1px solid black;
  padding: 20px;
}

.todolist-form-container form label,
input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}

.todolist-form-container form input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

button {
  display: flex;
  padding: 5px 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}

#notes {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.note_design {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("images/note.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  padding: 170px;

  animation: slideInLeft 2.2s ease-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.content_para {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  max-height: 100%;
  width: 400px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 100px;
  overflow-wrap: break-word;
}

/* .datepara,
.timepara {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: 50px;
  text-align: center;
} */

.datepara,
.timepara {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 150px;
}

.cancel {
  opacity: 0;
  position: relative;
  top: 50%;
  right: 50%;
  width: 35px;
  cursor: pointer;
}

.cancel:hover {
  opacity: 100%;
}
