* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-image: url(./images/generated-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  text-align: center;
}

.todolist-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-image: url("images/notebook.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 25%;
  border-radius: 5%;
  border: 1px solid black;
  padding: 20px;
}

.todolist-form-container form label,
input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}

.todolist-form-container form input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

button {
  display: flex;
  padding: 5px 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}

#notes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  /* background-color: coral; */
}

.content_para {
  /* position: relative;
  top: -50px;
  bottom: 500px; */
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.datepara,
.timepara {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
}

.note_design {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("images/note.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: slideInLeft 2.2s ease-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.cancel {
  width: 45px;
  margin-bottom: 150px;
  margin-right: 200px;
  cursor: pointer;
}
