* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  background-image: url(./images/generated-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  text-align: center;
}

.todolist-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.todolist-form-container form .label {
  font-size: 16px;
  padding: 20px;
  color: black;
  font-weight: bold;
}

#notes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 100px;
  text-align: center;
}

.note_design {
  background-image: url("images/note.png");
  background-position: center;
  padding: 100px;
}
